process{
  withLabel:high_mem{
    cpus = 8
    time= '24:00:00'
    memory = '250.GB'
    maxRetries = 2
    errorStrategy = 'retry'
  }
  withLabel:single_cpu{
    cpus = 1
    time = '24:00:00'
    memory = '100.GB'
  }
  withLabel:long_run{
    cpus = 2
    time = '72:00:00'
    memory = '150.GB'
  }
  withLabel:mousegwas{
    container = "library://asafpr/r-packages/mousegwas:gait"
  }
  errorStrategy = 'finish'
}
executor.$slurm.queueSize = 250
executor.$slurm.submitRateLimit = '2 s'
executor.$slurm.pollInterval = '10 sec'
params{
  custom_config_version = 'master'
  custom_config_base = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
}

try {
  includeConfig "${params.custom_config_base}/nfcore_custom.config"
} catch (Exception e) {
  System.err.println("WARNING: Could not load nf-core/config profiles: ${params.custom_config_base}/nfcore_custom.config")
}
