process{
  withLabel:high_mem{
    cpus = 8
    time= '24:00:00' 
    memory = '250.GB' 
    maxRetries = 2
    errorStrategy = 'retry' 
  }
  withLabel:single_cpu{
    cpus = 1
    time = '24:00:00'
    memory = '100.GB'
  }
  withLabel:long_run{
    cpus = 2
    time = '48:00:00'
    memory = '100.GB'
  }
  withLabel:mousegwas{
    container = 'library://r-packages/mousegwas:0.0.2'
  }
  errorStrategy = 'finish'
}
executor.$slurm.queueSize = 500
profiles {
  standard {
    process.executor = "local"
  }
  slurm {
    process.executor = "slurm"
    process.queue = "compute"
    process.clusterOptions = '-q batch'
    process.module = "slurm"
    process.cpus = 1
    process.time = '2:00:00'
    process.memory = '20 GB'
  }
  pbs {
    process.executor = "pbs"
    process.queue = "batch"
  }
  singularity {
    process.module = 'singularity'
    singularity.enabled = true
    singularity.autoMounts = true
  }
}
